
@import "card.css";
#container{
display:grid;
grid-template-columns:50px 1fr 50px 1fr 50px;
grid-template-rows: 100px 400px 1fr;
height: 100%;
position: relative;

}

#calendar {

  grid-row:2/3;
  grid-column:2/3;
}
.attendances{
  grid-row:2/4;
  grid-column:4/5;
}
.attendance{
grid-column:4/5;
}
.attendance:nth-child(2)
{
  grid-row: 1/2;
}
.attendance:nth-child(3)
{
  grid-row: 2/3;
}
.attendance:nth-child(4)
{
  grid-row:3/4;
}
.attendance_head{
  height:60px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-color:black;
}
.attendance_body{
  height:150px;
  display:grid;
  grid-template-rows: 20px 1fr 1fr 20px;
  grid-template-columns:30px 1fr 30px;
}
.class_info{
  grid-row:2/3;
  grid-column:2/3;
}
.class_form{
  grid-row:3/4;
  grid-column:2/3;
  text-align:center;
}
.class_input{
margin-left:40px;
margin-right:40px;
border-radius:10px;
outline:none;
}
.class_button{

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background-color: #313854;
  border: none;
}
.notes_button:hover{
  background:  #394263;
}
.class_name{
  text-align: center;
  color:white;
  font-size:30px;
}
.hour{
  color:white;
  text-align:center;
}

.container {
  height: 500px;
  position: relative;
}
.calendar-days{
  text-align: center;
  vertical-align: middle;
  margin: 1px;
}
.calendar-box {
  text-align: center;
  vertical-align: middle;
  margin: 1px;
}

.calendar-box:hover {
  height: 25px;
  width: 25px;
  background-color: #313854;
  border-radius: 50%;
}
.calendar-box:focus {
  height: 25px;
  width: 25px;
  background-color: #313854;
  border-radius: 50%;
}

#calendar_body {
  height:100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#calendar_head {
  height: 70px;
  background-color: #313854;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar_span {
  font-size: 20px;
  font-family: Open Sans;
  color: white;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

td {
  width: 40px;
  height: 40px;
}
.title_Div{
  grid-row:1/2;
  grid-column:1/6;
}

@media(max-width:800px) {
  #container{
    grid-template-columns: 1fr;
    grid-template-rows: 50px 400px 1fr;
  }
  #calendar{
    grid-row:2/3;
    grid-column:1/2;


  }
  .attendances{
    grid-row:3/4;
    grid-column:1/2;

  }
  .card {
    width: 100%;
  }
  .class_form{
    text-align:center;
  }
  .prev,.next{
    top:-60px;
  }

}
