@import "default.css";
@import "card.css";

.card {
  width: 500px;
  height: 350px;
}

.container {
  height: 500px;
  position: relative;
}
.calendar-days{
  text-align: center;
  vertical-align: middle;
  margin: 1px;
}
.calendar-box {
  text-align: center;
  vertical-align: middle;
  margin: 1px;
}

.calendar-box:hover {
  height: 25px;
  width: 25px;
  background-color: #313854;
  border-radius: 50%;
}
.calendar-box:focus {
  height: 25px;
  width: 25px;
  background-color: #313854;
  border-radius: 50%;
}

#calendar_body {
  height:100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#calendar_head {
  height: 70px;
  background-color: #313854;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar_span {
  font-size: 20px;
  font-family: Open Sans;
  color: white;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

td {
  width: 40px;
  height: 40px;
}

@media(max-width:500px) {
  .card {
    width: 100%;
  }
  table{
    margin-left:40px;
    margin-right:40px;
  }
}
