.card{
  background-color:white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin:20px;
  font-family:Open Sanf;
}

@media (max-width:800px)
{
  .card{
    margin:10px 5px;
  }
}
