.card {
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 20px;
  transition: margin 0.3s;
  font-family: Open Sanf;
}

.card:hover {
  margin: 20px 25px;
}

#adresa {
  grid-row: 3/4;
  grid-column: 2/3;
}

#map {
  grid-row: 3/4;
  grid-column: 3/4;
}

#message_row {
  width: 100%;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container {
  position: relative;
  display: grid;
  grid-template-rows: 100px 0.5fr 0.5fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.title_Div {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: Open Sans;
  background-color: black;
  color: white;
  position: relative;
  grid-row: 1/2;
  grid-column: 1/5;
}

.title_Span {
  font-size: 40px;
}

#adresa h3 span {
  border-bottom: 3px solid black;
  font-size: 24px;
  font-weight: 400;
}

.ico {
  font-weight: 400;
  font-size: 24px;
  padding: 10px;
  color: #313854;
}

.cos_form {
  margin-top: 20px;
  background-color: white;
  padding: 50px;
  font-family: "Segoe UI";
  grid-row: 2/3;
  grid-column: 2/4;
}

.cos_form_row {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 40%;
  display: inline-block;
  margin: 10px;
}

.cos_input {
  font-family: "Open Sans", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  left: 20px;
}

.cos_label {
  display: block;
}

.cos_send_button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background-color: #313854;
  border: none;
}

.cos_send_button:hover {
  background-color: #394263;
}

@media (max-width:800px) {
  .container {
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .title_Div {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .cos_form {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  #adresa {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  #map {
    grid-row: 4/5;
    grid-column: 1/2;

  }

  .title_Div {
    padding-top: 30px;
  }

  .title_Span {
    font-size: 20px;
  }

  .cos_form_row {
    width: 100%;
  }

  .card {
    margin: 10px 5px;
  }

  .card:hover {
    margin: 10px 5px;
  }
}
