.card{
  background-color:white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding:20px;
  margin:20px;
  transition: margin 0.7s
}
.card:hover{
  margin:20px 25px;

}

#adresa{
  grid-row:3/4;
  grid-column: 2/3;
}
#map{
  grid-row:3/4;
  grid-column:3/4;

}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container{
  height:calc(100%-50px);
  position:relative;
  display:grid;
  grid-template-rows: 100px 0.5fr 0.5fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.contact_Title_Div{
  padding-top:30px;
  padding-bottom:30px;
  background-color:black;
  color:white;
  position:relative;
  width:100%;
  text-align:center;
  grid-row:1/2;
  grid-column: 1/5;
}
.contact_Title_Span{
  font-size:60px;
  //border-bottom: 6px solid black;

}

#adresa h3 span{
  //border-bottom:3px solid #009688;
  border-bottom:3px solid black;
  font size:24px;
  font-weight:400;
  //font-family:"Segoe UI";
}
.ico{
  font-weight:400;
  font-size:24px;
  padding:10px;
  color:#313854;
}

.cos_form{
  margin-top:20px;
  background-color: white;
  padding:50px;
  font-family: "Segoe UI";
  grid-row:2/3;
  grid-column:2/4;
}

.cos_form_row{
  margin-top:16px;
  margin-bottom:16px;
  width:40%;
  display:inline-block;
  margin:10px;

}

.cos_input{
  border-bottom:1px solid rgb(204,204,204);
  width:100%;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  padding: 8px;
  text-align: center;
}

.cos_label{
    display:block;
}

.cos_send_button{
  padding-top:8px;
  padding-bottom:8px;
  padding-left:16px;
  padding-right:16px;
  color:white;
  background-color:#313854;
  border:none;

}

.cos_send_button:hover{

  background-color:#394263;
}

@media (max-width: 960px)
{
  .contact_Container{
  margin:auto;
  }
}
@media (max-width:800px)
{
  .cos_50per{
    width:100%;
  }
  .contact_Title_Span{
    font-size:40px;
  }
  .contact_Container{
    padding:50px;
  }
  .contact_Title_Div{
    margin-top: 0;
    margin-bottom: 50px;
  }
  #adresa{
    padding-left:33%;
  }
}
