body{
  overflow: hidden;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form h1{
  margin: 0;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #313854;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background:  #313854;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.form button:hover,.form button:active,.form button:focus {
  background: #394263;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #394263;
  text-decoration: none;
}
.form .register-form {
    padding: 8% 0 0;
    margin: auto;
}
@media only screen and (max-width: 359px)  {
  .login-page{
    width: 320px;
  }
}


